html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: #f8f9fa;
  background-image: url('/assets/images/subtle-pattern.png');
  background-attachment: fixed;
}

.swal2-popup {
  font-family: 'Your Font', sans-serif;
}

.swal2-title {
  font-size: 1.5rem;
}

.swal2-confirm {
  background-color: #0d6efd !important;
}
