<footer class="bg-body-tertiary text-center text-lg-start">
    <!-- Footer content -->
    <div class="container p-4">
        <div class="row">
            <!-- Hotel Info Column -->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Hilton Hotel</h5>
                <ul class="list-unstyled mb-0">
                    <li><a class="text-body" href="/about">About Us</a></li>
                    <li><a class="text-body" href="/contact">Contact Us</a></li>
                    <li><a class="text-body" href="/location">Location</a></li>
                    <li><a class="text-body" href="/careers">Careers</a></li>
                </ul>
            </div>

            <!-- Services Column -->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Services</h5>
                <ul class="list-unstyled mb-0">
                    <li><a class="text-body" routerLink="/Room">Rooms & Suites</a></li>
                    <li><a class="text-body" href="/dining">Dining</a></li>
                    <li><a class="text-body" href="/spa">Spa & Wellness</a></li>
                    <li><a class="text-body" href="/events">Events & Meetings</a></li>
                </ul>
            </div>

            <!-- Legal Column -->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Legal</h5>
                <ul class="list-unstyled mb-0">
                    <li><a class="text-body" href="/terms">Terms & Conditions</a></li>
                    <li><a class="text-body" href="/privacy">Privacy Policy</a></li>
                    <li><a class="text-body" href="/cookies">Cookie Policy</a></li>
                    <li><a class="text-body" href="/faq">FAQ</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Social media icons -->
    <div class="text-center p-3 border-top">
        <div class="mb-2">
            <a class="btn btn-outline-dark btn-floating m-1" href="#" role="button">
                <i class="bi bi-facebook"></i>
            </a>
            <a class="btn btn-outline-dark btn-floating m-1" href="#" role="button">
                <i class="bi bi-twitter"></i>
            </a>
            <a class="btn btn-outline-dark btn-floating m-1" href="#" role="button" title="Follow us on Instagram">
                <i class="bi bi-instagram"></i>
            </a>
            <a class="btn btn-outline-dark btn-floating m-1" href="#" role="button">
                <i class="bi bi-linkedin"></i>
            </a>
        </div>

        <!-- Copyright -->
        <div>
            © 2025 Copyright:
            <a class="text-body" href="https://HiltonHotel.com/">HiltonHotel.com</a>
        </div>
    </div>
</footer>